.Rproj.user
.Rhistory
.RData
.Ruserdata
*.csv
!data/panel_dataset.csv
create-js/inputs/
data.js
category_lookup.json
*.xlsx
.vscode/
__pycache__/
*.pyc
.DS_Store
.venv/
data/figures/
data/*.joblib
data/spo_corrections.joblib
areastat-dk-python-api/
areastat-dk-r-api/
